* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.aboutMeText {
	padding: 1.5rem 20% 1.5rem 20%;
	position: relative;
	width: 100%;
}
#skills {
	margin-top: 1rem;
}
.backToTop {
	float: right;
}
.contactInfo {
	margin-top: .8rem;
	margin-bottom: 1.5rem;
	margin-left: 2rem;
}
.contactInfo h3{
	margin-top: .7rem;
}
.container {
	padding: 1.5rem;
}
#headshot {
	border-radius: 50%;
	max-height: 400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
header h1{
	padding: .8rem;
}
nav {
	padding: .8rem;
}
h2 {
	padding-left: 1rem;
}
.projects {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin: 0 auto;
	max-width: 80vw;
}
.textContent {
	padding: 0 auto;
}
#portfolioImage {
	width: 100%;
}
article {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	max-width: 33vw;
}
article h3 {
	text-align: center;
	padding: 1rem;
	margin-bottom: 10px;
}
article footer {
	margin-top: 1.5rem;
}
figure figcaption {
	bottom: .3rem;
	padding: .2rem;
	margin-top: .5rem;
	position: relative;
	text-align: right;
	font-size: 14px;
	width: 100%;
}

#aboutMeSection {
	padding-top: 1rem;
}
#projectsSection {
	padding-top: 3rem;
}
#contactSection {
	padding-top: 3rem;
}