






/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.aboutMeText {
	padding: 1.5rem 20% 1.5rem 20%;
	position: relative;
	width: 100%;
}
#skills {
	margin-top: 1rem;
}
.backToTop {
	float: right;
}
.contactInfo {
	margin-top: .8rem;
	margin-bottom: 1.5rem;
	margin-left: 2rem;
}
.contactInfo h3{
	margin-top: 10px;
}
.container {
	padding: 1.5rem;
}
#headshot {
	border-radius: 50%;
	max-height: 400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
header h1{
	padding: .8rem;
}
nav {
	padding: .8rem;
}
h2 {
	padding-left: 1rem;
}
.projects {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	padding: 0 1.5rem 0;
	flex-wrap: wrap;
}
.textContent {
	padding: 0 auto;
}
#portfolioImage {
	width: 100%;
}
article {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	max-width: 26vw;
	min-width: 300px;
}
article h3 {
	text-align: center;
	padding: 1rem;
	margin-bottom: 10px;
}
article footer {
	margin-top: 1.5rem;
}
figure figcaption {
	bottom: .3rem;
	padding: .2rem;
	margin-top: .5rem;
	position: relative;
	text-align: right;
	font-size: 12px;
	width: 100%;
}

#aboutMeSection {
	padding-top: 1rem;
}
#projectsSection {
	padding-top: 3rem;
}
#contactSection {
	padding-top: 3rem;
}



#projectOneDescription {
	display: none;
}
#projectOneDescription.open{
	display: block;
}

#projectTwoDescription {
	display: none;
}
#projectTwoDescription.open{
	display: block;
}

#projectThreeDescription {
	display: none;
}
#projectThreeDescription.open{
	display: block;
}

#modal-screen {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	justify-content: center;
    align-items: center;
}
body.modal-open #modal-screen {
    display: flex;
} */