footer {
	background-color: #ffcc00;
}
header {
	background-color: #00ff99;
}
header h1{
	background-color: #ffcc00;
	font-size: 60px;
}
html {
	font-family: 'Libre Franklin', sans-serif;
	background-color: #f1f1f1;
	color: dark;
}
ul {
	list-style-type: none;
}
.navMenu {
	border: none;
	color: purple;
	cursor: pointer;
	padding: 0.5em;
}

